@charset "utf-8";

*{
margin: 0;
padding: 0;
font-size: 100%;
}

html,body{
margin: 0 auto;
text-align: center;
}
body{
color: #333;
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'Lucida Sans Unicode','Lucida Grande','Verdana','ＭＳ Ｐゴシック',sans-serif;
_font-family: 'ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

/* anchor */
a,
a:link{color: #006699;text-decoration: underline;}
a:visited{color: #70397D;}
a:hover{color: #FF3300;text-decoration: none;}
a:active{color: #FF3300;text-decoration: underline;}

/* strong, em */
strong{
font-weight: bold;
}
em{
color: #FF6600;
font-style: normal;
}

/* superscript, subscript　*/
sup{
font-size: 80%;
line-height: 1.1;
vertical-align: 3px;
}
sub{
font-size: 80%;
line-height: 1.1;
vertical-align: bottom;
}


/* list */
ul{
list-style: none;
}

/* img */
img{
vertical-align: bottom;
}
a img{
border: none;
}

/* definition list */ 
dl dt{
font-weight: normal;
}
dl dd{
margin: 0 0 1em 0;
}
dl dd ul{
margin: 0;
}

/* blockquote */
blockquote{
background: #eee;
padding: 0.1em 10px;
}

/* table */
table{
width: 100%;
border: 1px solid #666;
border-collapse: collapse;
border-spacing: 1;
}
table caption{
text-align: center;
margin: 0 0 0 0;
}
table tr th,
table tr td{
padding: 0.4em 3px;
border: 1px solid #666;
text-align: left;
}
table tr th{
background: #ccc;
white-space: nowrap;
font-weight: normal;
}
table thead th,
table tr.col th{
background: #999;
text-align: center;
font-weight: bold;
}
div.section table ul{
margin: 0;
}

/* address */
address{
font-style: normal;
}

/* form */
button,
input,
select,
textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}
select option{
margin: 0 10px 0 0 !important;
}
input,textarea{
padding: 2px;
}
button,
input {
*overflow: visible;
}
textarea{
overflow: auto;
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'Lucida Sans Unicode','Lucida Grande','Verdana','ＭＳ Ｐゴシック',sans-serif;
}

/* horizon */
hr{
display: none;
}
hr.border{
display: block;
color: #ccc;
border: 1px solid #ccc;
}

/* inline frame */
iframe{
margin: 1em 0;
width: 100%;
}