.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    border-radius: 0;
}
.box-alert{
    margin-bottom: 1.5em;
    padding: 1.25em;
    background-color: #323542;
    color: #fff;
    &--title{
        text-align: center;
        font-size: rem(22);
        font-weight: bold;
        margin-bottom: 0.8em;
        &:before{
            content: '';
            display: inline-block;
            line-height: 1;
            margin-right: 10px;
            margin-left: -24px;
            width: 24px;
            height: 18px;
            background-image: url("#{$imgDir}/common/icon-alert.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    }
}