.post-card{
  width: 100%;
  overflow: hidden;
  .section-heading,
  .section-description,
  &__inner{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .slick{
    &-track{
      margin-left:rem(-4);
      margin-right:rem(-4);
    }
    &-slide{
      padding-left: rem(4);
      padding-right: rem(4);
    }
    &-list{
      overflow: inherit;
    }
  }
  .card{
    border: none;
    &-body{
      padding: .75rem 0;
      display: flex;
      flex-wrap: wrap;
      &__left{
        width: 40px;
        a{
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          overflow: hidden;
          img{
            display: block;
          }
        }
      }
      &__right{
        width: calc(100% - 40px);
        padding-left: rem(8);
      }
      &__heading{
        margin-bottom: rem(8);
        a{
          color: $gray-dark;
        }
      }
      &__footer{
        a{
          color: $dark;
        }
        .text-muted{
          display: block;
        }
      }
    }
    &-title{
      font-size: rem(14);
      font-weight: bold;
      margin-bottom:0;

    }
  }
}

.archive-card{
  width: 100%;
  overflow: hidden;
  .section-heading,
  .section-description{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &__inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: rem(-8);
    margin-right: rem(-8);
    & > div{
      width: 25%;
      padding: 0 rem(8);
    }
  }
  .card{
    border: none;
    &-body{
      padding: .75rem 0;
      display: flex;
      flex-wrap: wrap;
      &__left{
        width: 40px;
        a{
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          overflow: hidden;
          img{
            display: block;
          }
        }
      }
      &__right{
        width: calc(100% - 40px);
        padding-left: rem(8);
      }
      &__heading{
        margin-bottom: rem(8);
        a{
          color: $gray-dark;
        }
      }
      &__footer{
        a{
          color: $dark;
        }
         .text-muted{
          display: block;
        }
      }
    }
    &-title{
      font-size: rem(14);
      font-weight: bold;
      margin-bottom:0;

    }
  }
}
