.blockquote {
    position: relative;
    border-left: 6px solid $gray-600;
    padding-left: $alert-padding-x * 2;
    padding-right: $alert-padding-x;
    padding-top: $alert-padding-y;
    padding-bottom: $alert-padding-y;

    &:before {
        content: '“';
        position: absolute;
        left: .5rem;
        top: 0;
        display: block;
        color: $gray-400;
        font-size: 3rem;
        line-height: 1;
    }
}
a{
    color: $primary;
}