//
// Page
//

.post-wrap{
	display: flex;
	flex:wrap;
	width: 100%;
}
.post-left{
	width: calc(100% - 360px);
	&__wrap{
		padding: rem(32) 0 rem(32) rem(48);
	}
}
.post-right{
	width: 360px;
	&__wrap{
		padding: rem(32) rem(48);
	}
}

.post-main__image{
	margin-bottom: rem(32);
}