//- path
- var paths = {};
	- paths.root = './';
	- paths.img  = './assets/img';
	- paths.css  = './assets/css';
	- paths.js   = './assets/js';


//- Summary
- var site = {};
	- site.language     = 'ja';
	- site.charset      = 'UTF-8';
	- site.favicon      = ''; // URI
	- site.apple_icon   = ''; // URI
	- site.name         = 'ROBOSTA';
	- site.description  = 'description';
	- site.keywords     = 'keyword1, keyword2, keyword3';

- var org = {};
	- org.address = {};
	- org.address.code = '000-0000';
	- org.address.add  = '東京都新宿区xxxxxxxxx';
	- org.tel          = '0120-xxx-xxx';
	- org.fax          = '0120-xxx-xxx';


//- page var
- var page = {};