extends /_include/_layout/_layout

block vars
	- page.title       = 'sample page';
	- page.description = '';
	- page.keywords    = '';
	- page.bodyclass   = 'page post';

block page_contents
	.post-wrap
		.post-left
			.post-left__wrap
				.page-title
					h2 aaa
				nav.page-nav
					ul.page-nav__list
						li.page-nav__list-item
							a.page-nav__list-link(href=paths.root + "author.html")
								| Home
				.modelar__post
					.post-card
						- for ( var i=0; i<20; i++ )
							include ./_include/_parts/_post
				include ./_include/_parts/_pagination
		.post-right
			.post-right__wrap
				//- --------------------
				//- Heading
				//- --------------------
				section
					.modelar-profile
						.modelar-profile__header
							a.modelar-profile__link(href=paths.root + "author.html")
								img.modelar-profile__avatar(src="https://placehold.jp/160x160.png" alt="text")
						.modelar-profile__body
							a.modelar-profile__name(href=paths.root + "author.html")
								| aaa
							p.modelar-profile__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
						.modelar-profile__bottom
							ul.modelar-profile__sns
								- for ( var i=0; i<4; i++ )
									li.modelar-profile__sns-item
										a.modelar-profile__sns-link(href="#")
											img.modelar-profile__sns-icon(src="https://placehold.jp/48x48.png" alt="text")
