extends /_include/_layout/_layout

block vars
	- page.title       = 'sample page';
	- page.description = '';
	- page.keywords    = '';
	- page.bodyclass   = 'page term';

block page_contents
	.content-block
		.page-header
			h1
				| 利用規約
		.post-contents
			//- --------------------
			//- Heading
			//- --------------------
			section
				.content-block
					h2 
						| 第1条【入会】
					p
						| 1.本サービスの利用を希望する者は、下記いずれかの方法で入会の申込みを行うものとします。
						ul 
							li 
								| 本サービスにログインし、本利用規約の内容に同意した上で、所定の方法により、入会の申込を行う。
							li 
								| 本サービスにログインせず、本利用規約の内容に同意した上で、所定の方法により、入会の申込を行う。
						| 2.入会の申込をした者（以下「入会申込者」といいます）は、入会の申込を承諾した時点で会員になります。
					p
						| 3.会員は、本サービスを通じて入会した場合、本サービスが連携するサービスへ提供することを同意した情報の一部を取得し、当該情報を他の会員が閲覧する場合があることに同意するものとします。
				.content-block
					h2 
						| 第2条【入会申込みの不承諾】
					p
						| 次の各号のいずれかに該当する場合は、当サービス管理者の判断によって、入会申込者の入会申込を承諾しないことがあります。
					p
						| 1.入会申込者が、前条第１項の方法によらずに入会の申込を行った場合
					p
						| 2.入会申込者が、過去に本利用規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合
					p
						| 3.その他当サービス管理者が不適切と判断した場合
				.content-block
					h2 
						| 第3条【退会】
					p
						| 1.会員が退会を希望する場合には、会員は、所定の方法により、退会の申出を行うものとします。
					p
						| 2.会員が次の各号に掲げるいずれかの行為を行った場合には、強制的に退会させて当サイトの利用をお断りすることがあります。
						ul 
							li 
								| 第1条の方法によらずに入会の申込を行ったことが判明した場合
							li 
								| 本利用規約又はその他の利用規約等に違反した場合
							li 
								| その他不適切と判断した場合
				.content-block
					h2 
						| 第4条【利用環境の整備】
					p
						| 1.当サイトの利用に際してはウェブにアクセスする必要がありますが、会員は自らの費用と責任において必要な機器・ソフトウェア・通信手段等を用意し適切に接続・操作することとします。
					p
						| 2.会員の利用環境について一切関与せず、また一切の責任を負いません。