extends /_include/_layout/_layout

block vars
	- page.title       = 'sample page';
	- page.description = '';
	- page.keywords    = '';
	- page.bodyclass   = 'page post';

block page_contents

	//- --------------------
	//- Heading
	//- --------------------
	section
		h2 Heading 2
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
		h3 Heading 3
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
		h4 Heading 4
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
		h5 Heading 5
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
		h6 Heading 6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.

	//- --------------------
	//- Alert
	//- --------------------
	section
		h2 Alert
		.alert.border-danger 重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキス
		.box-alert
			.box-alert--title 注意
			p 重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキスト重要なテキス重要なテキス
	//- --------------------
	//- Blockquote
	//- --------------------
	section
		h2 Blockquote
		blockquote.blockquote
			p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
			footer.blockquote-footer.text-right Source Title


	//- --------------------
	//- Buttons
	//- --------------------
	section
		h2 Button
		a.btn.btn-primary(href="#") Primary
		a.btn.btn-secondary(href="#") Secondary
		a.btn.btn-success(href="#") Success
		a.btn.btn-danger(href="#") Danger
		a.btn.btn-warning(href="#") Warning
		a.btn.btn-info(href="#") Info
		a.btn.btn-light(href="#") Light
		a.btn.btn-dark(href="#") Dark
		a.btn.btn-link(href="#") Link
		a.btn.btn-primary.btn-block(href="#") Block level button primary
		a.btn.btn-secondary.btn-block(href="#") Block level button secondary
		a.btn.btn-success.btn-block(href="#") Block level button success
		a.btn.btn-danger.btn-block(href="#") Block level button danger
		a.btn.btn-warning.btn-block(href="#") Block level button warning
		a.btn.btn-info.btn-block(href="#") Block level button info
		a.btn.btn-light.btn-block(href="#") Block level button light
		a.btn.btn-dark.btn-block(href="#") Block level button dark
		a.btn.btn-link.btn-block(href="#") Block level button link
		a.btn.btn-primary.btn-lg(href="#") Large button primary
		a.btn.btn-secondary.btn-lg(href="#") Large button secondary
		a.btn.btn-success.btn-lg(href="#") Large button success
		a.btn.btn-danger.btn-lg(href="#") Large button danger
		a.btn.btn-warning.btn-lg(href="#") Large button warning
		a.btn.btn-info.btn-lg(href="#") Large button info
		a.btn.btn-light.btn-lg(href="#") Large button light
		a.btn.btn-dark.btn-lg(href="#") Large button dark
		a.btn.btn-link.btn-lg(href="#") Large button link
		a.btn.btn-primary.btn-sm(href="#") Small button primary
		a.btn.btn-secondary.btn-sm(href="#") Small button secondary
		a.btn.btn-success.btn-sm(href="#") Small button success
		a.btn.btn-danger.btn-sm(href="#") Small button danger
		a.btn.btn-warning.btn-sm(href="#") Small button warning
		a.btn.btn-info.btn-sm(href="#") Small button info
		a.btn.btn-light.btn-sm(href="#") Small button light
		a.btn.btn-dark.btn-sm(href="#") Small button dark
		a.btn.btn-link.btn-sm(href="#") Small button link

		h3 button tag
		button Button
		button.btn.btn-primary Primary


	//- --------------------
	//- Images
	//- --------------------
	section
		h2 Images

		//- Modal
		p
			a(href= "http://placehold.jp/300x300.png")
				img(src= "http://placehold.jp/300x300.png", alt="")

	//- --------------------
	//- Card
	//- --------------------
	section
		h2 Card
		.row
			.col-12.col-md-4.mt-3
				.card
					img(src="http://placehold.jp/400x200.png", alt="")
					.card-body
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			.col-12.col-md-4.mt-3
				.card
					img(src="http://placehold.jp/400x200.png", alt="")
					.card-body
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
			.col-12.col-md-4.mt-3
				.card
					img(src="http://placehold.jp/400x200.png", alt="")
					.card-body
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
		.row.row-cols-1.row-cols-md-3
			.col.mt-3
				a.card.border-primary(href="#")
					p.card-header.bg-primary.text-white カテゴリ
					.card-body
						p カテゴリの概要が入ります。ボックスをクリックでページ遷移。カテゴリの概要が入ります。ボックスをクリックでページ遷移。
			.col.mt-3
				a.card.border-primary(href="#")
					p.card-header.bg-primary.text-white カテゴリ
					.card-body
						p カテゴリの概要が入ります。ボックスをクリックでページ遷移。カテゴリの概要が入ります。ボックスをクリックでページ遷移。
			.col.mt-3
				a.card.border-primary(href="#")
					p.card-header.bg-primary.text-white カテゴリ
					.card-body
						p カテゴリの概要が入ります。ボックスをクリックでページ遷移。カテゴリの概要が入ります。ボックスをクリックでページ遷移。

	//- --------------------
	//- Medias
	//- --------------------
	section
		h2 Medias

		.media
			img.mr-3(src="http://placehold.jp/80x80.png", alt="")
			.media-body
				h3 Heading
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.

		.media.flex-row-reverse
			img.ml-3(src="http://placehold.jp/80x80.png", alt="")
			.media-body
				h3 Heading
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.

		.media.d-block.d-md-flex
			img.mx-auto.mb-3.mr-md-3.mb-md-0.d-block(src="http://placehold.jp/80x80.png", alt="")
			.media-body
				h3 Heading
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.


	//- --------------------
	//- Lists
	//- --------------------
	section
		h2 Lists
		ul
			li default list
			li default list
			li default list
		ul.list-unstyled.p-custom__list
			li circle list
			li circle list
			li circle list
		ul.list-unstyled.p-custom__list__second
			li square list
			li square list
			li square list

		dl
			dt dt
			dd dd
			dt dt
			dd dd
		dl.row
			dt.col-12.col-md-3 Long Text Long Text Long Text Long Text
			dd.col-12.col-md-9 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias consectetur laudantium voluptatibus quas. Doloremque, accusantium veritatis soluta, odio ipsam harum repudiandae omnis dicta dolores rem quidem eligendi id maiores.
			dt.col-12.col-md-3 dt
			dd.col-12.col-md-9 dd


	//- --------------------
	//- Badges
	//- --------------------
	section
		h2 Badges
		p
			span.badge.badge-primary Primary
			span.badge.badge-secondary Secondary
			span.badge.badge-success Success
			span.badge.badge-danger Danger
			span.badge.badge-warning Warning
			span.badge.badge-info Info
			span.badge.badge-light Light
			span.badge.badge-dark Dark


	//- --------------------
	//- Pagination
	//- --------------------
	section
		h2 Pagination
		nav(role="navigation", aria-label="ページ番号")
			ul.pagination.p-pagination
				li.pagination__move__wrap
					ul.move--prev.move_btn__wrap
						li.first-page.move_btn
							a(href="#",aria-label="最初のページ") 最初のページ
								span
						li.prev-page.move_btn
							a(href="#",aria-label="前のページ") 前のページ
								span
				li.page-item
					a.page-link(aria-label="Page 1", href="#") 1
				li.page-item
					a.page-link(aria-label="Page 2", href="#") 2
				li.page-item
					a.page-link(aria-label="Page 3", href="#") 3
				li.page-item.active
					span.page-link 4
						span.sr-only (現在のページ)
				li.page-item
					a.page-link(aria-label="Page 5", href="#") 5
				li.pagination__move__wrap
					ul.move--next.move_btn__wrap
						li.next-page.move_btn
							a(href="#",aria-label="次のページ") 次のページ
								span
						li.last-page.move_btn
							a(href="#",aria-label="最後のページ") 最後のページ
								span

		nav(role="navigation", aria-label="ページ番号")
			ul.pagination
				li.page-item
					a.page-link(aria-label="1ページ目", href="#") 1
				li.page-item
					a.page-link(aria-label="2ページ目", href="#") 2
				li.page-item
					a.page-link(aria-label="3ページ目", href="#") 3
				li.page-item.active
					span.page-link 4
						span.sr-only （現在のページ）
				li.page-item
					a.page-link(aria-label="5ページ目", href="#") 5


	//- --------------------
	//- Form
	//- --------------------
	section
		h2 Form
		p
			a.btn.btn-primary.btn-lg(href="form.html") Form


	//- --------------------
	//- Flex video
	//- --------------------
	section
		h2 Flex video
		p JavaScriptでclass付与
		<iframe width="560" height="315" src="https://www.youtube.com/embed/qdIdPBIF6MU" frameborder="0" allowfullscreen></iframe>


	//- --------------------
	//- Accordion
	//- --------------------
	section
		h2 Accordion
		#accordion
			.card
				#headingOne.card-header
					button.btn.btn-link(data-toggle="collapse", data-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne") アコーディオン見出し
				
				#collapseOne.collapse.show(aria-labelledby="headingOne", data-parent="#accordion")
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sed eveniet voluptate! Architecto consectetur praesentium, ex a quis reprehenderit amet, sint provident perspiciatis aut at animi, maxime nihil dolores nisi.

			.card
				#headingTwo.card-header
					button.btn.btn-link(data-toggle="collapse", data-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") アコーディオン見出し
				
				#collapseTwo.collapse(aria-labelledby="headingTwo", data-parent="#accordion")
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sed eveniet voluptate! Architecto consectetur praesentium, ex a quis reprehenderit amet, sint provident perspiciatis aut at animi, maxime nihil dolores nisi.

			.card
				#headingThree.card-header
					button.btn.btn-link(data-toggle="collapse", data-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree") アコーディオン見出し
				
				#collapseThree.collapse(aria-labelledby="headingThree", data-parent="#accordion")
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sed eveniet voluptate! Architecto consectetur praesentium, ex a quis reprehenderit amet, sint provident perspiciatis aut at animi, maxime nihil dolores nisi.


	//- --------------------
	//- Tab
	//- --------------------
	section
		h2 Tab
		ul#myTab.nav.nav-tabs(role="tablist")
			li.nav-item: a#tab1-tab.nav-link.active(data-toggle="tab", href="#tab1", role="tab", aria-controls="tab1", aria-selected="true") tab1
			li.nav-item: a#tab2-tab.nav-link(data-toggle="tab", href="#tab2", role="tab", aria-controls="tab2", aria-selected="false") tab2
			li.nav-item: a#tab3-tab.nav-link(data-toggle="tab", href="#tab3", role="tab", aria-controls="tab3", aria-selected="false") tab3

		#myTabContent.tab-content
			#tab1.tab-pane.show.active(role="tabpanel", aria-labelledby="tab1")
				p Tab1
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt, nisi laudantium suscipit veritatis non labore ratione odio, aspernatur, totam rem, id perferendis nulla ea pariatur nostrum inventore doloribus harum.
			#tab2.tab-pane(role="tabpanel", aria-labelledby="tab2")
				p Tab2
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt, nisi laudantium suscipit veritatis non labore ratione odio, aspernatur, totam rem, id perferendis nulla ea pariatur nostrum inventore doloribus harum.
			#tab3.tab-pane(role="tabpanel", aria-labelledby="tab3")
				p Tab3
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt, nisi laudantium suscipit veritatis non labore ratione odio, aspernatur, totam rem, id perferendis nulla ea pariatur nostrum inventore doloribus harum.

	//- --------------------
	//- archives
	//- --------------------
	section
		h2 Archives
		ul.archives
			li.archive
				time.archive--date(datetime="2019-08-02") 2019年8月2日
				.archive--labels
					span.label.type-news お知らせ
					span.label.type-event イベント
				.archive--text
					a(href="") テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
			li.archive
				time.archive--date(datetime="2019-08-02") 2019年8月2日
				.archive--labels
					span.label.type-news お知らせ
				.archive--text
					a(href="") テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
			li.archive
				time.archive--date(datetime="2019-08-02") 2019年8月2日
				.archive--labels
					span.label.type-event イベント
				.archive--text
					a(href="") テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

	//- --------------------
	//- articles
	//- --------------------
	section
		h2 Articles
		.articles.row
			article.article.col-md-4.col-6
				a(href="")
					figure.article--img
						img(src="http://placehold.jp/450x220.png", alt="")
					time.article--date(datetime="2019-08-02") 2019年8月2日
					.article--tags
						span.tag お知らせ
						span.tag イベント
					p.article--title テキストテキスト
			article.article.col-md-4.col-6
				a(href="")
					figure.article--img
						img(src="http://placehold.jp/450x220.png", alt="")
					time.article--date(datetime="2019-08-02") 2019年8月2日
					.article--tags
						span.tag お知らせ
					p.article--title テキストテキスト
			article.article.col-md-4.col-6
				a(href="")
					figure.article--img
						img(src="http://placehold.jp/450x220.png", alt="")
					time.article--date(datetime="2019-08-02") 2019年8月2日
					.article--tags
						span.tag お知らせ
					p.article--title テキストテキスト

	//- --------------------
	//- Post List
	//- --------------------
	section
		h2 Post List
		ul.post-list
			- for ( var i=0; i<3; i++ )
				li.post-list__item
					a.post-list__link(href="#")
						span.post-list__date 2020年03月02日（月）
						span.post-list__category
							span.badge.badge-primary カテゴリー
						span.post-list__title
							|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト