script(src= paths.js + "/libs/jquery-3.6.0.min.js")
script(src= paths.js + "/libs/bootstrap.bundle.min.js")
script(src= paths.js + "/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src= paths.js + "/libs/jquery.smoothScroll.js")
script(src= paths.js + "/common.js")

if is_page('home')
	script(src= paths.js + "/libs/slick/slick.min.js")
	script(src= paths.js + "/home.js")

block add_scripts