footer.footer(role="contentinfo")
	.footer-body
		.container
			nav.footer-nav
				ul.footer-nav__list.list-unstyled
					li.footer-nav__item
						a(href="#").footer-nav__link
							| 使いかた
					li.footer-nav__item
						a(href="#").footer-nav__link
							| よくある質問
					li.footer-nav__item
						a(href="#").footer-nav__link
							| ご利用規約
					li.footer-nav__item
						a(href="#").footer-nav__link
							| プライバシーポリシー
					li.footer-nav__item
						a(href="#").footer-nav__link
							| お問い合わせ
	.footer-copyright
		p.text-center
			small Copyright &copy; #{new Date().getFullYear()} #{site.name}