.sidebar.bg-light
	nav.navbar.navbar-expand-lg.navbar-light
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		nav.navbar
			ul.nav.bd-sidenav
				li.nav-item.active.mr-sm-2
					a.btn.btn-outline-success.btn-block(href='#')
						| ログイン
						span.sr-only (current)
				li.nav-item.active
					a.btn.btn-info.btn-block(href='#')
						| 会員登録
						span.sr-only (current)
	nav#bd-docs-nav.bd-links
		.bd-toc-item
			nav.navbar
				a.bd-toc-link(href='/docs/4.3/getting-started/introduction/') Getting started
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/getting-started/introduction/') Introduction
					li
						a(href='/docs/4.3/getting-started/download/') Download
					li
						a(href='/docs/4.3/getting-started/contents/') Contents
					li
						a(href='/docs/4.3/getting-started/browsers-devices/') Browsers & devices
					li
						a(href='/docs/4.3/getting-started/javascript/') JavaScript
					li
						a(href='/docs/4.3/getting-started/theming/') Theming
					li
						a(href='/docs/4.3/getting-started/build-tools/') Build tools
					li
						a(href='/docs/4.3/getting-started/webpack/') Webpack
					li
						a(href='/docs/4.3/getting-started/accessibility/') Accessibility
		.bd-toc-item
			a.bd-toc-link(href='/docs/4.3/layout/overview/') Layout
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/layout/overview/') Overview
					li
						a(href='/docs/4.3/layout/grid/') Grid
					li
						a(href='/docs/4.3/layout/utilities-for-layout/') Utilities for layout
		.bd-toc-item
			a.bd-toc-link(href='/docs/4.3/content/reboot/') Content
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/content/reboot/') Reboot
					li
						a(href='/docs/4.3/content/typography/') Typography
					li
						a(href='/docs/4.3/content/code/') Code
					li
						a(href='/docs/4.3/content/images/') Images
					li
						a(href='/docs/4.3/content/tables/') Tables
					li
						a(href='/docs/4.3/content/figures/') Figures
		.bd-toc-item.active
			a.bd-toc-link(href='/docs/4.3/components/alerts/') Components
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/components/alerts/') Alerts
					li
						a(href='/docs/4.3/components/badge/') Badge
					li
						a(href='/docs/4.3/components/breadcrumb/') Breadcrumb
					li
						a(href='/docs/4.3/components/buttons/') Buttons
					li
						a(href='/docs/4.3/components/button-group/') Button group
					li
						a(href='/docs/4.3/components/card/') Card
					li
						a(href='/docs/4.3/components/carousel/') Carousel
					li
						a(href='/docs/4.3/components/collapse/') Collapse
					li
						a(href='/docs/4.3/components/dropdowns/') Dropdowns
					li
						a(href='/docs/4.3/components/forms/') Forms
					li
						a(href='/docs/4.3/components/input-group/') Input group
					li
						a(href='/docs/4.3/components/jumbotron/') Jumbotron
					li.active.bd-sidenav-active
						a(href='/docs/4.3/components/list-group/') List group
					li
						a(href='/docs/4.3/components/media-object/') Media object
					li
						a(href='/docs/4.3/components/modal/') Modal
					li
						a(href='/docs/4.3/components/navs/') Navs
					li
						a(href='/docs/4.3/components/navbar/') Navbar
					li
						a(href='/docs/4.3/components/pagination/') Pagination
					li
						a(href='/docs/4.3/components/popovers/') Popovers
					li
						a(href='/docs/4.3/components/progress/') Progress
					li
						a(href='/docs/4.3/components/scrollspy/') Scrollspy
					li
						a(href='/docs/4.3/components/spinners/') Spinners
					li
						a(href='/docs/4.3/components/toasts/') Toasts
					li
						a(href='/docs/4.3/components/tooltips/') Tooltips
		.bd-toc-item
			a.bd-toc-link(href='/docs/4.3/utilities/borders/') Utilities
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/utilities/borders/') Borders
					li
						a(href='/docs/4.3/utilities/clearfix/') Clearfix
					li
						a(href='/docs/4.3/utilities/close-icon/') Close icon
					li
						a(href='/docs/4.3/utilities/colors/') Colors
					li
						a(href='/docs/4.3/utilities/display/') Display
					li
						a(href='/docs/4.3/utilities/embed/') Embed
					li
						a(href='/docs/4.3/utilities/flex/') Flex
					li
						a(href='/docs/4.3/utilities/float/') Float
					li
						a(href='/docs/4.3/utilities/image-replacement/') Image replacement
					li
						a(href='/docs/4.3/utilities/overflow/') Overflow
					li
						a(href='/docs/4.3/utilities/position/') Position
					li
						a(href='/docs/4.3/utilities/screen-readers/') Screen readers
					li
						a(href='/docs/4.3/utilities/shadows/') Shadows
					li
						a(href='/docs/4.3/utilities/sizing/') Sizing
					li
						a(href='/docs/4.3/utilities/spacing/') Spacing
					li
						a(href='/docs/4.3/utilities/stretched-link/') Stretched link
					li
						a(href='/docs/4.3/utilities/text/') Text
					li
						a(href='/docs/4.3/utilities/vertical-align/') Vertical align
					li
						a(href='/docs/4.3/utilities/visibility/') Visibility
		.bd-toc-item
			a.bd-toc-link(href='/docs/4.3/extend/approach/') Extend
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/extend/approach/') Approach
					li
						a(href='/docs/4.3/extend/icons/') Icons
		.bd-toc-item
			a.bd-toc-link(href='/docs/4.3/about/overview/') About
			nav.navbar
				ul.nav.bd-sidenav
					li
						a(href='/docs/4.3/about/overview/') Overview
					li
						a(href='/docs/4.3/about/brand/') Brand
					li
						a(href='/docs/4.3/about/license/') License
					li
						a(href='/docs/4.3/about/translations/') Translations
