/* accordions
-------------------------------------------------- */

// base
.accordion{

    $border-width: 3px;

    margin-bottom: 1em;

    & > .accordion_trigger{
        background-color: #CCCCCC;
        padding: 10px 15px;
        margin: 10px auto 0;
        cursor: pointer;
        &:first-child{
            margin-top: 0;
        }
    }
    & > .accordion_content{
        padding: 10px 15px;
        border-color: #CCCCCC;
        border-style: solid;
        border-width: $border-width;
        &.is_accordion_active{
            margin-top: -($border-width);
        }
    }
}

/* state */
.is_accordion_active{
    display: block;
}
.is_accordion_hidden.accordion_content{
    display: none;
}