/* buttons
-------------------------------------------------- */

/* default */
.btn{
    @include inline-block();
    @include box-sizing(border-box);
    @include ellipsis;
    max-width: 100%;
    
    cursor: pointer;
    text-decoration: none;
    @include border-radius(5px);
    border: 1px solid #DDDDDD;
    padding: 1em 2em;
    line-height: 1;
    background-color: #DDDDDD;
    color: $color;
    @include transition(background-color, 0.3s, ease-out);
    text-align: center;
    &:link, &:visited, &:hover, &:active{
        text-decoration: none;
        color: $color;
    }

    // hover
    &:hover{
        background-color: darken(#DDDDDD, 5%);
    }
}

/* disabled */
.btn.is_btn_disabled{
    opacity: 0.5;
    cursor: default;
}