/* images
-------------------------------------------------- */

/* align */
img{
    &.alignleft{
        float: left;
        margin-right: 10px;
    }
    &.alignright{
        float: right;
        margin-left: 10px;
    }
    &.aligncenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* hover */
a:hover{
    img,
    input[type="image"]{
        opacity: 0.7;
    }
    // except
    img[src$="_off.png"],
    img[src$="_on.png"],
    input[src$="_off.png"],
    input[src$="_on.png"]{
        opacity: 1;
    }
}
input[type="image"]:hover{
    opacity: 0.7;
}
input[src$="_off.png"]{
    opacity: 1;
}



/* pict */
// 廃止予定
p{
    &.pict2{
        float: left;
        padding-right: 10px;
    }
    &.pict3{
        float: right;
        padding-left: 10px;
    }
    &.pict6{
        text-align: center;
    }
}