/* labels
-------------------------------------------------- */

.label{
	@include inline-block();
	@include border-radius(4px);
	margin-right: 5px;
	padding: 0 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	color: $color;
}

/* variation */
.label{
	&.label_primary{
		border-color: #666666;
		background-color: #666666;
		color: #FFFFFF;
	}
	&.label_success{
		border-color: #666666;
		background-color: #666666;
		color: #FFFFFF;
	}
	&.label_warning{
		border-color: #666666;
		background-color: #666666;
		color: #FFFFFF;
	}
	&.label_info{
		border-color: #666666;
		background-color: #666666;
		color: #FFFFFF;
	}
	&.label_error{
		border-color: #666666;
		background-color: #666666;
		color: #FFFFFF;
	}
}