/* pagers
-------------------------------------------------- */

// default
$pager-border-color:       #333333; // border
$pager-bg-color:           #FFFFFF; // bg
$pager-font-color:         #333333; // font

// hover
$pager-border-color-hover: #333333; // border
$pager-bg-color-hover:     #333333; // bg
$pager-font-color-hover:   #FFFFFF; // font


.pager{
    ul,
    .pager_list{
        list-style: none;
        & > li,
        .pager_item{
            @include inline-block;
        }
    }
}

/* current page */
.is_pager_active,
.is_pager_current{
    a{}
}

.pager{
    margin: 1em 0;
    ul,
    .pager_list{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        text-align: center;
        li,
        .pager_item{
            margin: 0 5px;
            padding: 3px 0 3px;
            background: none;
            font-weight: bold;
            vertical-align: middle;
            a{
                @include inline-block;
                padding: 3px 8px;
                border-width: 1px;
                border-style: solid;
                font-weight: normal;
                &:link,
                &:hover{
                    text-decoration: none;
                }
            }
        }
        li.prev{
            float: left;
            margin-left: 0;
        }
        li.next{
            float: right;
            margin-right: 0;
        }
    }
    p.page{
        text-align: center;
    }
}

// color
.pager{
    ul,
    .pager_list{
        li,
        .pager_item{
            a{
                border-color: $pager-border-color;
                background-color: $pager-bg-color;
                color: $pager-font-color;
                &:link{
                    color: $pager-font-color;
                }
                &:hover{
                    border-color: $pager-border-color-hover;
                    background-color: $pager-bg-color-hover;
                    color: $pager-font-color-hover;
                }
            }
        }
    }
}